@font-face {
  font-family: "helveticaNeue";
  src: url(../fonts/HelveticaNeueLight.ttf);
}
@font-face {
  font-family: "helvetica93";
  src: url(../fonts/Helvetica-Neue-LT-Std-93-Black-Extended_22550.ttf);
}
@font-face {
  font-family: "helveticaNeueLt";
  src: url(../fonts/Helvetica-Neue-LT-Std-53-Extended_22525.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: helveticaNeueLt;
  overflow-x: hidden;
}

h1 {
  font-size: 32px;
  text-transform: uppercase;
}

h2, h3 {
  font-size: 27px;
  text-transform: uppercase;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 400px;
  margin: 0 auto;
}
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1000px;
  }
  .container h1 {
    font-size: 66px !important;
  }
  .container h2 {
    font-size: 47px !important;
  }
}
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1380px;
  }
}

@-webkit-keyframes readHover {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(30px);
  }
}

@keyframes readHover {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(30px);
  }
}
@font-face {
  font-family: "helveticaNeue";
  src: url(../fonts/HelveticaNeueLight.ttf);
}
@font-face {
  font-family: "helvetica93";
  src: url(../fonts/Helvetica-Neue-LT-Std-93-Black-Extended_22550.ttf);
}
@font-face {
  font-family: "helveticaNeueLt";
  src: url(../fonts/Helvetica-Neue-LT-Std-53-Extended_22525.ttf);
}
nav {
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.6s;
  z-index: 100;
}
nav .navbar {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
nav .navbar-left .navbar-logo {
  cursor: pointer;
}
nav .navbar-left .navbar-logo img {
  width: 36px;
  height: 36px;
}
nav .navbar-left .overlay .menu {
  list-style: none;
}
nav .navbar-left .overlay .menu .nav-item {
  position: relative;
  cursor: pointer;
}
nav .navbar-left .overlay .menu .nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: helveticaNeueLt;
}
nav .navbar-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .navbar-right .navbar-button {
  cursor: pointer;
  margin: 10px;
  width: 28px;
  height: 28px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
nav .navbar-right .icon1 {
  background-image: url(../images/icons/bag_black.png);
}
nav .navbar-right .icon2 {
  display: none;
}
nav .navbar-right .icon1, nav .navbar-right .icon2 {
  position: relative;
}
nav .navbar-right .icon1 a, nav .navbar-right .icon2 a {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
nav .navbar-right .hamburger {
  background-image: url(../images/icons/menu_black.png);
}

@media only screen and (min-width: 1024px) {
  nav {
    background-color: transparent;
  }
  nav.sticky {
    background-color: #FFFFFF;
  }
  nav.sticky .menu, nav.sticky .nav-item, nav.sticky .nav-link {
    color: #000000 !important;
  }
  nav.sticky .nav-item::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 0.25rem;
    background-color: #000000 !important;
    height: 1px;
    transition: 0.25s linear;
    transform: scaleX(0);
  }
  nav.sticky .nav-item:hover::before, nav.sticky .nav-item:focus::before {
    transform: scaleX(1);
  }
  nav.sticky .icon1 {
    background-image: url(../images/icons/bag_black.png) !important;
  }
  nav.sticky .icon2 {
    background-image: url(../images/icons/user_black.png) !important;
  }
  nav .navbar-left {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav .navbar-left .overlay {
    display: block;
  }
  nav .navbar-left .overlay .menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav .navbar-left .overlay .menu .nav-item {
    margin-left: 40px;
  }
  nav .navbar-left .overlay .menu .nav-item::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 0.25rem;
    background-color: #FFFFFF;
    height: 1px;
    transition: 0.25s linear;
    transform: scaleX(0);
  }
  nav .navbar-left .overlay .menu .nav-item:hover::before, nav .navbar-left .overlay .menu .nav-item:focus::before {
    transform: scaleX(1);
  }
  nav .navbar-left .overlay .menu .nav-link {
    color: #FFFFFF;
  }
  nav .navbar-left .overlay .sign-in {
    display: none;
  }
  nav .navbar-right {
    flex-direction: row-reverse;
  }
  nav .navbar-right .icon1 {
    background-image: url(../images/icons/bag_black.png);
  }
  nav .navbar-right .icon2 {
    display: block;
    background-image: url(../images/icons/user_white.png);
  }
  nav .navbar-right .hamburger {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .navbar .overlay {
    position: fixed;
    width: 100vw;
    height: 0%;
    top: 70px;
    left: 0;
    background-color: #FFFFFF;
    overflow: hidden;
    z-index: 101;
    transition: 0.5s;
    flex-basis: 0;
  }
  .navbar .overlay .menu {
    position: relative;
    display: flex;
    flex-flow: column;
    list-style-type: none;
    height: 100%;
  }
  .navbar .overlay .menu .nav-item {
    margin: 15px 0;
  }
  .navbar .overlay .menu .nav-item:nth-child(1) {
    margin: 35px 0 15px;
  }
  .navbar .overlay .menu .nav-link {
    font-size: 30px;
    color: #000000;
    position: relative;
  }
  .navbar .overlay .menu .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 0.25rem;
    background-color: #000000 !important;
    height: 1px;
    transition: 0.25s linear;
    transform: scaleX(0);
  }
  .navbar .overlay .menu .nav-link:hover::before, .navbar .overlay .menu .nav-link:focus::before {
    transform: scaleX(1);
  }
  .navbar .overlay .sign-in {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
  }
  .navbar .overlay .sign-in .btn-signIn {
    display: block;
    font-family: helveticaNeueLt;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    background-color: #000000;
    text-transform: uppercase;
    font-size: 18px;
    cursor: pointer;
  }
  .navbar .overlay .sign-in .btn-signIn a {
    text-decoration: none;
    color: #FFFFFF;
  }
  .navbar .overlay .sign-in .btn-signIn:hover {
    background-color: #FFFFFF;
  }
  .navbar .overlay .sign-in .btn-signIn:hover a {
    color: #000000;
  }
  .navbar .hamburger {
    transition: 0.25s;
  }
  .navbar .hamburger.active {
    background-image: url(../images/icons/cancel.png);
  }
  .navbar .overlay.active {
    height: 100%;
  }
}
footer {
  background-color: #FFFFFF;
  color: #000000;
  padding-top: 200px;
}
footer .newsletter {
  padding-bottom: 280px;
  border-bottom: 1px solid #000000;
}
footer .newsletter h3 {
  padding-bottom: 20px;
}
footer .newsletter p {
  padding-bottom: 20px;
}
footer .newsletter .email {
  border-bottom: 1px solid #000000;
}
footer .newsletter .email input {
  border: none;
  outline: none;
  padding: 5px;
  width: 100%;
  font-family: helveticaNeueLt;
}
footer .newsletter .email a {
  display: none;
}
footer .nav, footer .socials {
  display: none;
}
footer .yd-contact {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: start;
}
footer .yd-contact .footer-logo {
  cursor: pointer;
}
footer .yd-contact .footer-logo img {
  width: 150px;
  height: 150px;
}
footer .yd-contact .contacts {
  margin-left: 20px;
  width: 200px;
  color: #000000;
}
footer .yd-contact .contacts p:nth-of-type(2) {
  text-transform: uppercase;
}
footer .all-rights {
  margin-bottom: 50px;
  font-size: 18px;
  width: 180px;
}

@media only screen and (min-width: 1024px) {
  footer .footer {
    display: flex;
    margin-top: 100px;
  }
  footer .footer .newsletter {
    width: 400px;
    padding: 0 0 280px 50px;
    border-bottom: none;
  }
  footer .footer .newsletter h3 {
    padding-bottom: 15px;
  }
  footer .footer .newsletter .email {
    display: flex;
    align-items: center;
  }
  footer .footer .newsletter .email input {
    width: 300px;
  }
  footer .footer .newsletter .email a {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
  }
  footer .footer .nav, footer .footer .socials {
    margin-left: 300px;
    display: block;
  }
  footer .footer .nav .menu, footer .footer .socials .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: none;
  }
  footer .footer .nav .menu .nav-item, footer .footer .nav .menu .social-item, footer .footer .socials .menu .nav-item, footer .footer .socials .menu .social-item {
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
  }
  footer .footer .nav .menu .nav-item::before, footer .footer .nav .menu .social-item::before, footer .footer .socials .menu .nav-item::before, footer .footer .socials .menu .social-item::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 0.25rem;
    background-color: #000000;
    height: 1px;
    transition: 0.25s linear;
    transform: scaleX(0);
  }
  footer .footer .nav .menu .nav-item:hover::before, footer .footer .nav .menu .nav-item:focus::before, footer .footer .nav .menu .social-item:hover::before, footer .footer .nav .menu .social-item:focus::before, footer .footer .socials .menu .nav-item:hover::before, footer .footer .socials .menu .nav-item:focus::before, footer .footer .socials .menu .social-item:hover::before, footer .footer .socials .menu .social-item:focus::before {
    transform: scaleX(1);
  }
  footer .footer .nav .menu .nav-link, footer .footer .nav .menu .social-link, footer .footer .socials .menu .nav-link, footer .footer .socials .menu .social-link {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-family: helveticaNeueLt;
  }
  footer .footer .socials {
    margin-left: 50px;
  }
  footer .footer .yd-contact {
    padding: 0;
    align-items: flex-end;
    flex: 1;
    flex-direction: column;
  }
  footer .footer .yd-contact .footer-logo {
    cursor: pointer;
    padding-bottom: 15px;
  }
  footer .footer .yd-contact .footer-logo img {
    width: 150px;
    height: 150px;
  }
  footer .footer .yd-contact .contacts {
    text-align: right;
    width: 250px;
  }
  footer .all-rights {
    width: 100%;
    bottom: 0;
    border-top: 2px solid #000000;
    padding: 5px 0;
  }
}
.shirt img {
  width: 100%;
  height: 400px;
}

.product {
  font-family: helveticaNeueLt;
  color: #000000;
  padding: 70px 0 100px;
}
.product .hero {
  display: flex;
  flex-direction: column;
}
.product .hero .info {
  padding-top: 30px;
}
.product .hero .info .price {
  padding: 10px 0 30px;
}
.product .hero .description h3 {
  text-transform: none;
}
.product .hero .description p {
  padding: 10px 0 30px;
}
.product .hero .size {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product .hero .size p {
  padding-right: 50px;
}
.product .hero .size span {
  cursor: pointer;
}
.product .hero .size span:last-child {
  padding-right: 50px;
}
.product .hero .quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product .hero .quantity .count {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.product .hero .quantity .count .btn-quantity {
  width: 10px;
  height: 10px;
  cursor: pointer;
}
.product .hero .quantity .count span {
  padding: 0 15px;
}
.product .hero .line {
  display: block;
  margin: 10px 0;
  background-color: #000000;
  height: 4px;
}
.product .hero .bag {
  margin-top: 30px;
}
.product .hero .bag .btn-bag {
  display: block;
  font-family: helveticaNeueLt;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  background-color: #000000;
  text-transform: uppercase;
  font-size: 18px;
  cursor: pointer;
}
.product .hero .bag .btn-bag a {
  text-decoration: none;
  color: #FFFFFF;
}
.product .hero .bag .btn-bag:hover {
  background-color: #FFFFFF;
}
.product .hero .bag .btn-bag:hover a {
  color: #000000;
}

.recommend h2.line {
  display: flex;
  align-items: center;
  justify-content: start;
  text-transform: none;
}
.recommend h2.line::after {
  content: "";
  position: absolute;
  background-color: #000000;
  height: 1px;
  margin-left: 340px;
  width: 100%;
  border-radius: 0.25rem;
}
.recommend .shirts .shirt {
  cursor: pointer;
  margin: 30px 0;
}
.recommend .shirts .shirt img {
  padding-bottom: 10px;
}

@media only screen and (min-width: 1024px) {
  .product {
    padding-bottom: 120px;
  }
  .product .hero {
    padding-top: 50px;
    flex-direction: row;
    align-items: center;
    height: 700px;
  }
  .product .hero .shirt img {
    width: 700px;
    height: 100%;
  }
  .product .hero .right {
    flex: 1;
    flex-direction: column;
    padding: 0 50px;
  }

  .recommend h2.line::after {
    margin-left: 700px;
  }
  .recommend .shirts {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .recommend .shirts .shirt {
    margin: 50px 0;
  }
  .recommend .shirts .shirt img {
    padding-bottom: 10px;
    width: 400px;
    height: 400px;
  }
  .recommend .shirts .shirt h2 {
    font-size: 28px !important;
  }
}/*# sourceMappingURL=product.css.map */