.collection {
    background-color: $white;
    height: 100vh;
    color: $black;
    position: relative;

    .heading {
        padding: 80px 0;

        h2 {
            @include flex(start); 

            &::after {
                content: "";
                position: absolute;
                background-color: $black;
                height: 1px;
                margin-left: 280px;
                width: 100%;
                border-radius: 0.25rem;
            }
        }

        .btn-explore2 {
            font-family: helveticaNeueLt;
            height: 21px;
            letter-spacing: -1px;
            background-color: transparent;
            border: none;
            font-size: $font-p;
            color: $black;
            cursor: pointer;
            text-align: left;
            position: relative;

            @include hover($black);
        }
    }

    .carousel {
        @include flex(center);
        position: relative;
        margin-bottom: 80px;

        .slides {

            img {
                cursor: pointer;
                width: 300px;
                height: 350px;
            }

            .details {
                padding-top: 40px;
                font-size: $font-p;
                color: $black;

                .item-title {
                    text-transform: uppercase;
                }
            }
        }

        .next-prev {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
            width: 100%;
            color: $black;
            transition: 0.6s ease;
            user-select: none;
            @include flex(space-between);

            .prev, .next {

                img {
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
}

@media only screen and (min-width: $laptopS) {

    .collection {
        height: auto;

        .heading {

            h2 {

                &::after {
                    margin-left: 620px;
                }
            }
        }

        .carousel {
            
            .slides {

                img {
                    width: 500px;
                    height: 550px;
                }
            }
        }
    }

}